.JoinUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 3;
  position: relative;

}

.wrapper {
  box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, .4);
  padding: 1rem 3rem;
  background: rgba(0, 0, 0, .3);
}

.Welcome {
  padding: 2rem;
  width: 76rem;
  color: #fefefe;

}

.Welcome .head {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .7);
  box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, .4);

}

.Welcome h1 {
  font-size: 6rem;
  letter-spacing: .7rem;
  margin: 0 .3rem;
  padding: .5rem;
}

.Welcome h3 {
  font-size: 4rem;
  letter-spacing: .8rem;
  margin: 0 .6rem;
  padding: .5rem;
}

.Welcome p {
  font-size: 1.8rem;
  letter-spacing: .3rem;
  text-align: center;
  padding: 3rem;
}

.form-wrapper {


  padding: 2rem;
  min-width: 70rem;
  display: flex;
}

.form-wrapper form {

  padding: 2rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;



  line-height: 1.5;
  border: none;
  border-bottom: 3px solid #ebebeb;
  margin-top: 100px;
  width: 700px;
  color: white;
  background: transparent;
}

form .form-group {
  padding: 1rem 2.6rem;
  /* border: 2px solid green; */

}

.for-input {
  /* width: 100%; */
}

.form-group input {
  width: 100%;
  padding: .9rem 1.4rem;
  font-size: 1.4rem;
  border-radius: 1rem;
  background: none;
  border: none;
  position: relative;
  color: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

input[type=text]:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.8);
}

::placeholder {
  color: #fff;
  font-size: 1.2em;
}



.form-group button {
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  letter-spacing: .1rem;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  display: block;
  line-height: 2.0;
  border: none;
  border: 3px solid white;
  font-size: 1.9em;
  color: rgb(66, 69, 86);
  padding: 5px 30px;
  background: rgba(255, 255, 255, 1.0);
  border-radius: 5px;
  opacity: 0.8;
}

.form-group button:hover {
  background: #fff;
  color: #333;
  border: 2px solid #333;
  opacity: 1;
}

.form-group button:active {
  top: 4px;

}