@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap&subset=latin-ext');

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  font-family: 'Lilita One', cursive;
}

body {
  min-height: 100vh;
}


main {
  flex-grow: 1 auto;
}

.container {
  padding: 1rem 3rem;
  margin: 0 auto;
}